h1 {
    color: white;
}

button {
    padding: 10px 30px;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #1f2937;
  }
  
  
  a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-size: 12px;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

/* Homepage */


  
  .headerText {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
  }
  
  .headerContainer {
    background-color: #1f2937;
    display: flex;
    padding: 16px 32px;
    justify-content: space-between;
    align-items: center;
  }
  
  .headerLinks {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .headerLink {
    font-size: 14px;
    font-weight: 800;
  }

  .headerLink:hover {
    color: cadetblue;
  }

  Button.resumeButton {
    padding: 0px 15px;
    color: cadetblue;
    border: #FFFFFF solid;
    border-radius: 50px;
    border-width: 1px;
  }

  .secondary {
    font-size: 18px;
    color: #E5E7EB;
  }
  
  .footer {
    justify-content: center;
  }
  
  .titletext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
  }
  
  .nametext {
    font-size: 40px;
    font-weight: 700px;
    color: white;
  }
  
  .homepageContainer {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }
  
  .homepageContent {
    display: flex;
    justify-content: space-evenly;
  }
  
  .homePara {
    text-align: left;
  }
  
  .socialbuttons {
    padding-top: 50px;
  }

  Button.socialmediabutton {
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    border-color: white;
  }

  Button.socialmediabutton:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .homeImage {
    display: flex;
    justify-content: center;
  }

  .devImage {
    max-width: 350px;
    border-radius: 50px;
  }


/* Projects page */

.project-card-view {
    border-radius: 10px;
    border: transparent;
    box-shadow: 0px 5px #000000;
}

.project-card {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}

.project-card-view:hover {
    transform: scale(1.05);
    overflow: hidden;
}

.card-image {
    padding: 20px;
    border-radius: 10px;
}

Button.cardButton {
    background-color: rgb(80, 80, 238);
    color: white
}

.cardButtonContainer {
    display: flex;
    justify-content: center;
}

Button.cardButton {
    padding: 5px 20px;
    background-color: transparent;
    border: #000000 solid;
    color: #000000;
}

Button.cardButton:hover {
    border: cadetblue solid;
    color:cadetblue;
}

.projectbackground {
    width: 100%;
    height: 100%;
}


/* About me page */

.aboutMeBox, .aboutSkillContainer {
    margin-top: 50px;
    border-radius: 20px;
    color: white;
    padding: 30px;
}

.aboutSkillContainer {
    margin-bottom: 100px;
}

.aboutMeText {
    text-align: justify;
}

.aboutMeImage {
    display: flex;
    justify-content: center;
}

.aboutTitle {
    font-weight: 800;
    margin-bottom: 60px;
}

.selfImage {
    max-width: 350px;
    border-radius: 200px;
}

.skillContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.skillBox {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
}

.skillImg {
    width: 60px;
    height: 60px;
}

