h1 {
    color: white;
}

button {
    padding: 10px 30px;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    color: white;
}

/* Homepage */


.header, .footer {
    background-color: #1f2937;
    display: flex;
    padding: 16px 48px;
  }
  
  .headertext {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
  }
  
  .header {
    justify-content: space-between;
    align-items: center;
  }
  
  .secondary {
    font-size: 18px;
    color: #E5E7EB;
  }
  
  .footer {
    justify-content: center;
  }
  
  .titletext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
  }
  
  .nametext {
    font-size: 40px;
    font-weight: 700px;
    color: white;
  }
  
  .homepageContainer {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
  }
  
  .homepageContent {
    display: flex;
    justify-content: space-evenly;
  }
  
  .homePara {
    text-align: left;
  }
  
  .socialbuttons {
    padding-top: 50px;
  }

  Button.socialmediabutton {
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    border-color: white;
  }

  Button.socialmediabutton:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }


/* Projects page */

.project-card-view {
    border-radius: 10px;
    border: transparent;
    box-shadow: 0px 5px #000000;
}

.project-card {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}

.project-card-view:hover {
    transform: scale(1.05);
    overflow: hidden;
}

.card-image {
    padding: 20px;
    border-radius: 10px;
}

Button.cardButton {
    background-color: rgb(80, 80, 238);
    color: white
}

.cardButtonContainer {
    display: flex;
    justify-content: center;
}

Button.cardButton {
    padding: 5px 20px;
    background-color: transparent;
    border: #000000 solid;
    color: #000000;
}

Button.cardButton:hover {
    border: cadetblue solid;
    color:cadetblue;
}

.projectbackground {
    width: 100%;
    height: 100%;
}

.projectContainer {
}


/* About me page */

.aboutBackground {
    margin-top: 50px;
}

.aboutMeBox {
    border-radius: 20px;
    color: white;
    padding: 30px;
}

.aboutMeText {
    text-align: justify;
}

.aboutMeImage {

}

.skillContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.skillBox {
    text-align: center;
}

.skillImg {
    width: 70px;
    height: 70px;
}