body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background-color: #1f2937;
}

.header, .footer {
  background-color: #1f2937;
  display: flex;
  padding: 16px 48px;
}

.headertext {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

.header {
  justify-content: space-between;
  align-items: center;
}

.secondary {
  font-size: 18px;
  color: #E5E7EB;
}

.footer {
  justify-content: center;
}

.titletext {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.nametext {
  font-size: 40px;
  font-weight: 700px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.containPara {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content:space-evenly;
}

.containImage {
  border-style: dashed;
  border-color: blue;
  background-image: url(./images/Navy_Seal.jpg);
  max-width: 500px;
  width: 30%;
  height: 300px;
}

.socialbuttons {
  padding-top: 50px;
}
.socialmediabutton {
  background:none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  color: white;
  border-color: white;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
  font-size: 12px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 16px;
}